.DS_Store
node_modules
/dist
package-lock.json
# local env files
.env.local
.env.*.local
.env.*
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Gmail API credentials and tokens
**/creds/credentials.json
**/creds/token.pickle
**/creds/token.json
seat-select-backend/celerybeat-schedule.db
seat-select-backend/__pycache__/
seat-select-backend/**/*.pyc
seat-select-backend/.venv/
